# Dependencies
node_modules/

# Environment & secrets
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
*.log

# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

# Build output
dist/
build/